<%= stylesheet_link_tag 'developers_search' %>
<div class="col d-flex justify-content-center">
    <div class="col-md-6">   
        <div id="page" class="card">
            <div id="developer" class="card-body">
                <div class="developer-container pt pb pr pl">
                    <div class="developer pr">
                        <%= image_tag (developer.avatar_url(:medium)), class: 'rounded-circle' %>
                        <div class="username">
                            <div class="name"><%= developer.name %></div>
                            <div class="handle"><%= link_to '@' + developer.username, developer_path(developer) %></div>
                        </div>
                        <div class="developer-content pt">
                            <%= truncate(strip_tags(developer.bio), length: 512) %>
                            <p class="card-text">
                                <small class="text-muted">Created on
                                <%= developer.timestamp %></small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
