<%= stylesheet_link_tag 'developers' %>

<div class="col d-flex justify-content-center">
  <div id="profile-card" class="card">
    <div class="cover-img-cropper">
      <%= image_tag (@developer.cover_url), class: 'card-img-top', id: 'profile-card-img-top' %>
    </div>
    <div class="card-body">
      <%= image_tag (@developer.avatar_url(:medium)), class: 'rounded-circle' %>
      <div class="parent">
        <div class="bot-name">
          <h4 class="card-title"><%= @developer.name %>
            <% if @developer.verified %>
              <i id="verified-icon" class="fas fa-check-circle" style="color:#1a8cff"></i>
            <% end %>
          </h4>
          <p>@<%= @developer.username %></p>
        </div>
      </div>
      <p class="card-text">
        <small class="text-muted"><%= I18n.t('developers.show.joined') %>
          <%= created_at_formatted(@developer.created_at) %></small>
      </p>
    </div>
  </div>
</div>
<div class="col d-flex justify-content-center">
  <div class="card-tab">
    <%= tabs do |c| %>
      <ul class="nav nav-pills">
        <li class="nav-item">
          <% c.tab I18n.t('developers.show.tabs.latest') do %>
            <%= render @posts %>
          <% end %>
        </li>
        <li class="nav-item">
          <% c.tab I18n.t('developers.show.tabs.bio') do %>
            <div class="edit-button d-md-flex justify-content-md-end">
              <% if current_developer == @developer %>
                <%= link_to I18n.t('developers.show.buttons.edit'), edit_developer_registration_path, class: 'btn btn-primary' %>
              <% end %>
            </div>
            <div class="py-5 justify-content-center dev-bio-card">
              <div class="d-flex card text-left box-shadow p-2 dev-bio">
                <h3><%= @developer.name %></h3>
                <p><%= @developer.bio %></p>
              </div>
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <% c.tab I18n.t('developers.show.tabs.bots') do %>
            <div class="edit-button d-md-flex justify-content-md-end">
              <% if current_developer == @developer %>
                <%= link_to I18n.t('developers.show.buttons.new-bot'), new_bot_path, class: 'btn btn-primary' %>
              <% end %>
            </div>
            <div id="bots">
              <%= render @bots %>
            </div>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
