<%= stylesheet_link_tag 'developers' %>

<div class="col d-flex justify-content-center">
  <div id="profile-card" class="card">
    <div class="cover-img-cropper">
      <%= image_tag (@developer.cover_url), class: 'card-img-top', id: 'profile-card-img-top' %>
    </div>  
    <div class="card-body">
      <%= image_tag (@developer.avatar_url(:medium)), class: 'rounded-circle' %>
      <div class="parent">
        <div class="bot-name">
          <h4 class="card-title"><%= @developer.name %>
            <% if @developer.verified %>
              <i id="verified-icon" class="bi bi-patch-check-fill h6" style="color:#1a8cff"></i>
            <% end %>
          </h4>
          <p>@<%= @developer.username %></p>
        </div>
      </div>
      <p class="card-text">
        <small class="text-muted">Joined on
        <%= local_relative_time(@developer.created_at, type: 'date') %></small>
      </p>
    </div>
  </div>
</div>
<div class="col d-flex justify-content-center">
  <div class="card-tab">
    <%= tabs do |c| %>
      <ul class="nav nav-pills">
        <li class="nav-item" >
          <% c.tab 'Latest' do %>
            <%= render @posts %>
          <% end %>
        </li>
        <li class="nav-item" >
          <% c.tab 'Bio'do %>
            <div class="edit-button d-md-flex justify-content-md-end">
              <% if current_developer == @developer %>
                <%= link_to 'Edit', edit_developer_registration_path, class: 'btn btn-primary' %>
              <% end %>
            </div>
            <div class="row py-5 justify-content-center">
              <div class="d-flex dev-bio card text-left box-shadow p-2 ">
                <h3><%= @developer.name%>'s bio.</h3>
                <p><%=@developer.bio%></p>
              </div>
            </div>
          <% end %>
        </li>
        <li class="nav-item">
          <% c.tab 'Bots' do %>
           <div class="edit-button d-md-flex justify-content-md-end">
              <% if current_developer == @developer %>
                <%= link_to 'New Bot', new_bot_path, class: 'btn btn-primary' %>
              <% end %>
            </div>
            <div id="bots">
              <%= render @bots %>
            </div>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>    
</div>
