<%= stylesheet_link_tag "developers" %>

<div class="container h-100" style="margin-top: 30px">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="<%= asset_path('logo.svg')%>">
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group input-group" style="margin-top: 80px">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Username or Email', required: true %>
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control', placeholder: 'Password', required: true %>
        </div>
        <div class="form-group input-group">
          <% if devise_mapping.rememberable? %>
            <div class="form-check">
              <%= f.check_box :remember_me, class: 'form-check-input' %>
              <label class="form-check-label" style="color: white">Remember me?</label>
            </div>
          <% end %>
        </div>
        <div class="form-group input-group">
          <%= f.submit "Log in", class: 'btn btn-primary btn-block' %>
        </div>
        <div class="form-group" style="text-align: center">
          <div class="d-flex justify-content-center links">
            <p class="text-white">
              Forgot your password?
              <%= link_to "Click here", new_password_path(resource_name) %>
            </p>
          </div>
          <div class="d-flex justify-content-center links">
            <p class="text-white">
              Don't have an account?
              <a href="sign_up">
                Sign up</a>
            </p>
          </div>
          <div class="d-flex justify-content-center links">
            <p class="text-white">
              <%= link_to 'Didn\'t receive confirmation instructions?', new_confirmation_path(resource_name) %>
            </p>
          </div>
          <div class="d-flex justify-content-center links">
            <p class="text-white">
              <%= link_to 'Didn\'t receive unlock instructions?', new_unlock_path(resource_name) %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
