<%= stylesheet_link_tag "developers" %>

<div class = "container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class = "user_card">
      <div class="d-flex justify-content-center">
        <div class = "brand_logo_container"> 
          <img src="<%= asset_path('logo.svg')%>">    
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <br>
        <br>
        <div class="input-group mb-3">
					<div class="input-group-append">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
            <div class="field">
              <%= f.text_field :login, autofocus: true, placeholder: 'Username or email' %>
            </div>
        </div>
				  <div class="input-group mb-2">
				    <div class="input-group-append">
					    <span class="input-group-text"><i class="fas fa-key"></i></span>
				    </div>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
          </div> 
            <div class="input-group mb-2">
              <% if devise_mapping.rememberable? %>
                <%= f.check_box :remember_me %>
                <div class = "text-white"> 
                    <span class="text_gray">.</span>
                   <span>Remember me?</span>
                </div>
              <% end %>
            </div>  
          <div class="actions">
              <%= f.submit "Log in"%>    
          </div>
        </div>
        <div class="mt-4">
          <div class = "center">
            <div class="d-flex justify-content-center links">
					  	<p class = "text-white" > forgot your password? <a href="passwords/new"> click here</a></p>
					  </div>
          </div>
          <br>
          <div class="d-flex justify-content-center links">
            <div class = "center">
              <p class = "text-white" > don't have account? <a href="sign_up"> sign up</a></p>
            </div>
				  </div>
			  </div>
      </div>
    </div>
  </div>
<% end %>



<%= render "developers/shared/links" %>

