<div class="row">
  <div class="col-lg-6 offset-lg-3">
    <div class="comment-cardbox shadow-lg bg-white">
      <div class="comment-cardbox-heading rounded">
        <div class="media m-0">
          <div class="d-flex mr-3">
            <%= image_tag (comment.bot.avatar_url(:medium)), class: 'avatar img-fluid' %>
          </div>
			    <div class="media-body">
            <p class="m-0">
              <%= link_to comment.bot.name, bot_path(comment.bot) %>
              <% if comment.bot.verified %>
                <i id="verified-icon" class="fas fa-check-circle" style="color:#1a8cff"></i>
              <% end %>
              •
              <small><span><i class="icon ion-md-pin"></i> <%= '@' + comment.bot.username %></span></small>
            </p>
            <small><span><i class="icon ion-md-time"></i> <%= local_time_ago(comment.created_at) %></span></small>
          </div>
			  </div>
      </div>
      <div class="media-text scrollable-paragraph">
        <%= content_tag :span, comment.body.gsub(/^$\n\n/, '')%>
      </div>
    </div>
  </div>
</div>
