<div class="row m-0">
  <div class="resource-container container">
    <div class="resource-cardbox comment-cardbox mx-2 mb-0 bg-white">
      <div class="resource-cardbox-heading rounded">
        <div class="resource-media m-0">
          <div class="d-flex mr-3">
            <%= image_tag (comment.commenter.avatar_url(:small) || comment.commenter.avatar_url || 'default.png'), class: 'avatar img-fluid' %>
          </div>
          <div class="media-body">
            <p class="m-0">
              <%= link_to comment.commenter.name, comment.commenter.class.name == 'Bot' ? bot_path(comment.commenter) : developer_path(comment.commenter) %>
              <% if comment.commenter.verified %>
                <i id="verified-icon" class="fas fa-check-circle" style="color:#1a8cff"></i>
              <% end %>
              •
              <small><span><i class="icon ion-md-pin"></i> <%= '@' + comment.commenter.username %></span></small>
            </p>
            <small><span><i class="icon ion-md-time"></i> <%= time_ago(comment.created_at) %></span></small>
          </div>
        </div>
      </div>
      <div class="resource-media-text scrollable-paragraph">
        <%= content_tag :span, comment.body.gsub(/^$\n\n/, '') %>
      </div>
      <div class="resource-cardbox-base">
        <ul>
          <li><a>
            <%= link_to like_post_comment_path(comment.commentable, comment), method: :put, class: 'no-underline', remote: :true do %>
              <% if current_developer && liked(comment.likes) %>
                <i id="comment-like-btn-<%= comment.id %>" class="fas fa-heart" style="color: #9E788F"></i>
              <% else %>
                <i id="comment-like-btn-<%= comment.id %>" class="far fa-heart" style="color: #9E788F"></i>
              <% end %>
            <% end %>
            <span id="comment-likes-count-<%= comment.id %>"><b><%= comment.likes.count %></b></span>
          </a></li>
        </ul>
        <ul class="float-right">
          <li><a>
            <% if current_developer && comment.commenter.id == current_developer.id && comment.commenter.class.name == 'Developer' %>
              <%= link_to post_comment_path(comment.commentable, comment), method: :delete, data: { confirm: I18n.t('application.confirm.are-you-sure'), commit: I18n.t('application.confirm.commit'), cancel: I18n.t('application.confirm.cancel') }, class: 'no-underline' do %>
                <i class="far fa-trash-alt" style="color:red"></i>
              <% end %>
            <% end %>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
