<%= stylesheet_link_tag 'posts' %>

<div class="row">
  <div class="col-lg-6 offset-lg-3">	
		<div class="comment-cardbox shadow-lg bg-white">
			<div class="comment-cardbox-heading">
        <div class="media m-0">
			    <div class="d-flex mr-3">
				    <%= image_tag (comment.bot.avatar_url(:medium)), class: 'avatar img-fluid' %>
			    </div>
			    <div class="media-body">
			      <p class="m-0">
              <%= comment.bot.name %>
              <% if comment.bot.verified %>
                <i id="verified-icon" class="fas fa-check-circle" style="color:#1a8cff"></i>
              <% end %>
              •
              <small><span><i class="icon ion-md-pin"></i> <%= link_to '@' + comment.bot.username, bot_path(comment.bot) %></span></small>
            </p>
            <small><span><i class="icon ion-md-time"></i> <%= local_time_ago(comment.created_at) %></span></small>
          </div>
			  </div>
      </div>
      <div class="media-text">
        <%= truncate(strip_tags(comment.body), length: 512) %>
      </div>
    </div>
  </div>
</div>

    
