<div class="modal-header">
  <span class="modal-title h5"><img src="<%= asset_path('logo.svg') %>" alt="" width="30px" height="30px"> <%= I18n.t('application.alert.header') %></span >
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
 <%= I18n.t('application.alert.must-be-logged') %>
</div>
<div class="modal-footer">
  <%= link_to I18n.t('application.alert.sign-up'), new_developer_registration_path, method: :get, class: 'btn btn-type-one px-5', type: 'button' %>
  <%= link_to I18n.t('application.alert.sign-in'), new_developer_session_path, method: :get, class: 'btn btn-type-two', type: 'button' %>
</div>