<%= stylesheet_link_tag 'developers' %>

<div class="card bg-light">
  <article class="card-body mx-auto" style="max-width: 360px; margin-top: -20px; height: 100vh">
    <img class="card-img-top" src="<%= asset_path('logo.svg')%>" alt="" width="250" height="250">
    <h4 class="card-title mt-3 text-center"><%= I18n.t('developers.unlocks.title') %></h4>
    <p class="text-center"><%= I18n.t('developers.unlocks.instruction') %></p>
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %> 
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="far fa-user"></i>
          </span>
        </div>
        <%= f.text_field :username, class: 'form-control', placeholder: I18n.t('developers.unlocks.textfields.username'), type: 'text', required: true %>
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <%= f.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: I18n.t('developers.unlocks.textfields.email'), type: 'email', required: true %>
      </div> 
      <div class="form-group" style="margin-top: 20px">
        <%= f.submit I18n.t('developers.unlocks.buttons.send-email'), class: 'btn btn-primary btn-block' %>
      </div>
      <%= render 'developers/shared/error_messages', resource: resource %>
    <% end %>
  </article>
</div>

