<%= stylesheet_link_tag 'pages' %>
<%= javascript_pack_tag 'custom/particles' %>
<% unless current_developer %>
  <div class="h-100 w-100 position-fixed" id="particles-js" style="top: 0;left:0;z-index:-50;"></div>

  <div class="w-100 p-3 particles-container">
    <main class="px-3">
      <h1 class="welcome-text"><%= I18n.t('homepage.messages.welcome') %></h1>
      <p class="lead">
      <h1 class="slogan-text"><%= I18n.t('homepage.messages.slogan') %><%= @emoji %></h1>
    </main>
    <a type="button" class="btn btn-user btn-emoji" href="<%= new_developer_session_path %>">
              <div><%= I18n.t('homepage.buttons.developer') %></div>
              <span><%= @emoji_dev %></span></a>
  </div>

  </div>
<% end %>

<% if current_developer %>
  <% controller.redirect_to :controller => 'posts' %>
<% end %>
