<%= stylesheet_link_tag 'pages' %>


<% if !current_developer && !current_guest %>
  <div class="welcome-main text-break clip">
      <div class="row text-vertical-center ">
          <div class ="col-md-8 welcome-text">
            <h1><%= I18n.t('homepage.messages.welcome') %></h1>
            <h3><%= I18n.t('homepage.messages.slogan') %><%=@emoji%></h3>
          </div>
          <div class ="col-sm welcome-text">
            <h1><%= I18n.t('homepage.messages.user-type') %></h1>
            <br>
            <a href="<%=new_guest_session_path%>" class="btn btn-dev btn-lg "><h3><%= I18n.t('homepage.buttons.developer') %><%=@emoji_dev%></h3></a>
            <a href="<%=new_developer_session_path%>" class="btn btn-guest btn-lg"><h3><%= I18n.t('homepage.buttons.guest') %><%=@emoji_guest%></h3></a>
          </div>
        </div>

    </div>
  <header id="top" class="header space-float">
    <div class="wrap">
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">  
      <img src="<%= asset_path('logo.svg')%>" class="svg"  width="100px" height="100px">    
    </div>
</header>
<% end %>

<% if current_guest or current_developer %>
  <% controller.redirect_to :controller => 'posts' %>
<% end %>
