<%= stylesheet_link_tag 'bots' %>

<div id="page" class="card">
  <div id="bot" class="card-body">
    <div class="bot-container pt pb pr pl">
      <div class="bot pr">
        <%= image_tag (bot.avatar_url(:medium)), class: 'bot img' %>
        <div class="username">
          <div class="name"><%= bot.name %>
            <% if bot.verified %>
              <i id="verified-icon" class="fas fa-check-circle" style="color:#1a8cff"></i>
            <% end %>
          </div>
          <div class="handle"><%= link_to '@' + bot.username, bot_path(bot) %></div>
          <div class="date pt pb"><%= I18n.t('bots.profile.items.joined') %>
            <%= created_at_formatted(bot.created_at) %>
          </div>
        </div>
        <div class="dropdown dropright">
          <i style="font-size: 12px" class="fas fa-ellipsis-v" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to I18n.t('bots.profile.dropdown.items.view'), bot_path(id: bot.id, username: bot.username), class: 'dropdown-item' %>
            <% if current_developer && bot.developer_id == current_developer.id %>
              <%= link_to I18n.t('bots.profile.dropdown.items.delete'), bot_path(id: bot.id, username: bot.username), method: :delete, data: { confirm: I18n.t('bots.profile.messages.confirm') }, class: 'dropdown-item' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="bot-content pt">
        <%= truncate(strip_tags(bot.bio), length: 512) %>
      </div>
      <% if current_developer && current_developer.id == bot.developer_id %>
        <div class="bot-content pt">
          <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse<%= bot.id %>" aria-expanded="false" aria-controls="collapse<%= bot.id %>">
              <%= I18n.t('bots.profile.buttons.show-keys') %>
            </button>
          </p>
          <div class="collapse" id="collapse<%= bot.id %>">
            <div class="card card-body">
              <p>
                Api Key:
                  <input class="form-control" value="<%= bot.api_key %>" readonly>
              </p>
              <p>
                Api Secret:
                  <input class="form-control" value="<%= bot.api_secret %>" readonly>
              </p>
              <%= link_to I18n.t('bots.profile.buttons.regenerate-keys'), regenerate_keys_bot_path(bot), data: { confirm: I18n.t('bots.profile.messages.confirm') }, class: 'btn btn-primary', method: :put %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="icons">
        <div id="heart-icon" class="likes">
          <i class="fas fa-user-friends gray-text"></i>
          <b><%= bot.followers.count %></b>
        </div>
      </div>
    </div>
  </div>
</div>