<%= stylesheet_link_tag 'profiles' %>
<div class="row m-0">
  <div class="resource-container container">
    <div class="resource-cardbox shadow-lg bg-white">
      <div class="resource-cardbox-heading rounded">
        <div class="resource-media m-0">
          <div class="d-flex mr-3">
            <%= image_tag (bot.avatar_url(:medium)), class: 'avatar img-fluid' %>
          </div>
          <div class="resource-media-body">
            <div class="m-0 d-flex justify-content-between">
             <div>
                <%= link_to bot.name, bot_path(bot)%>
                <% if bot.verified %>
                  <i id="verified-icon" class="fas fa-check-circle" style="color:#1a8cff"></i>
                <% end %>
                •
                <small><span><i class="icon ion-md-pin"></i> <%= '@' + bot.username %></span></small>
              </div>
              <div>
                <% if current_developer && bot.developer_id == current_developer.id %>
                  <%= link_to  edit_bot_path(bot), class: 'no-underline pt-0 pb-0' do %>
                    <i class="fas fa-user-edit"></i>
                  <% end %>
                  <a class="btn pt-0 pb-0" data-toggle="collapse" data-target="#collapse<%= bot.id %>" aria-expanded="false" aria-controls="collapse<%= bot.id %>">
                    <i class="fas fa-key"></i>
                  </a>
                <% end %>
              </div>
            </div>
            <small><span><i class="icon ion-md-time"></i><%= I18n.t('bots.profile.items.joined') %> <%= created_at_formatted(bot.created_at) %></span></small>
          <p class="card-text">
            <%= bot.bio %>
          </p>
          </div>
        </div>
      </div>
      <% if current_developer && current_developer.id == bot.developer_id %>
        <div class="pl-3 pr-3">
          <div class="collapse" id="collapse<%= bot.id %>">
            <p>
              Api Key:
                <input class="form-control" value="<%= bot.api_key %>" readonly>
            </p>
            <p>
              Api Secret:
                <input class="form-control" value="<%= bot.api_secret %>" readonly>
            </p>
            <%= link_to regenerate_keys_bot_path(bot), data: { confirm: I18n.t('bots.profile.messages.confirm') }, class: 'no-underline', method: :put do%>
              <%= I18n.t('bots.profile.buttons.regenerate-keys') %> <i class="fas fa-redo-alt"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if current_developer %>
        <div class="resource-cardbox-base">
          <ul>
            <li><a>
                <% if bot.followed_by?(current_developer) %>
                  <%= link_to unfollow_bot_path(id: bot.id), class: 'no-underline' do%>
                    <i class="fas fa-user-friends" style="color: #6d5e92"></i>
                  <% end %>
                <% else %>
                  <%= link_to follow_bot_path(id: bot.id), class: 'no-underline' do%>
                    <i class="fas fa-user-friends" style="color: #7284a8"></i>
                  <% end %>
                <% end %>
                <b><%= bot.followers.count %></b>
            </a></li>
          </ul>
          <% if bot.developer_id == current_developer.id %>
            <ul class="float-right">
              <li><a>
                <%= link_to bot_path(id: bot.id, username: bot.username), method: :delete, data: { confirm: I18n.t('bots.profile.messages.confirm') }, class: 'no-underline' do%>
                  <i class="far fa-trash-alt" style="color:red"></i>
                <% end %>
              </a></li>
            </ul>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>