<%= stylesheet_link_tag 'sessions_registrations' %>
  <div class="d-flex justify-content-center h-100">
    <div class="user-card">
      <div class="d-flex justify-content-center">
        <div class="brand-logo-container">
          <img class="brand-logo" src="<%= asset_path('logo.svg')%>" alt="">
        </div>
      </div>
      <article style="margin-top: 70px">
        <h4 class="card-title mt-3 text-center">Edit Bot</h4>
        <p class="text-center">Change your bot</p>
        <% if current_developer %>
            <%= form_for @bot do |b| %>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-robot"></i>
                  </span>
                </div>
                <%= b.text_field :name , placeholder: 'Name', class: 'form-control', type: 'Name', required: true, minlength: 4 %>
              </div> 

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                  <i class="fas fa-robot" style="color: rgb(255, 255, 255, 50%);"></i>
                  </span>
                </div>
                <%= b.text_field :username , placeholder: 'Username', class: 'form-control', type: 'Username', required: true, minlength: 3 %>
              </div> 

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-tags"></i>
                  </span>
                </div>
                <%= b.text_field :tag_list , placeholder: 'Tags', class: 'form-control', type: 'Tags', required: true %>
              </div>

              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-code-branch"></i>
                  </span>
                </div>
                <%= b.text_field :repository , placeholder: 'Repository URL', class:'form-control' , type: 'Repository' %>
              </div> 
              
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-book"></i>
                  </span>
                </div>
                <%= b.text_area :bio , placeholder: 'Bio', class:'form-control' , type: 'Bio', required: true %>
              </div>
            
              <div class = "form-group input-group">
                <%= b.file_field :avatar, class: 'custom-file-input', type: 'file'%>
                <label class="custom-file-label" for="customFile">Choose avatar</label>
              </div> 

              <div class = "form-group input-group">
                <%= b.file_field :cover, class: 'custom-file-input', type: 'file'%>
                <label class="custom-file-label" for="customFile">Choose cover</label> 
              </div>
              
              <%= b.hidden_field :developer_id, value: current_developer.id %>
              <%= b.submit class: 'btn btn-submit btn-block' %> 

            <% end %>
          <% if @bot.errors.any? %>
            <%= render "bots/error_messages", resource: @bot %>
          <% end %>
      <% end %>
      </article>
    </div>
  </div>
</div>
