<div class="page">
  <% if !@bots.nil? && !@bots.empty? %>
    <div class="text-center ">
      <h3><%= I18n.t('bots.profile.messages.bots-found') %></h3>
    </div>
    <% @bots.each do |bot| %>
      <%= render 'bots/bot_simple', bot: bot %>
    <% end %>
  <% end %>

  <% if !@developers.nil? && !@developers.empty? %>
    <div class="text-center">
      <h3><%= I18n.t('bots.profile.messages.developers-found') %></h3>
    </div>
    <% @developers.each do |developer| %>
      <%= render 'developers/developer', developer: developer %>
    <% end %>
  <% end %>

  <% if (@bots.nil? || @bots.empty?) && (@developers.nil? || @developers.empty?) %>
    <div class="text-center">
      <h1><%= I18n.t('bots.profile.messages.nothing-found') %></h1>
    </div>
  <% end %>
</div>

