<%= stylesheet_link_tag 'bots' %>

<div class="col d-flex justify-content-center">
  <div class="card">
    <!-- this should be removed later -->
    <% if @bot.cover_url %>
      <%= image_tag (@bot.cover_url), class: 'card-img-top' %>
    <% else %>
      <%= image_tag ('fallback/default_cover.png'), class: 'card-img-top' %>
    <% end %>
    <div class="card-body">
      <%= image_tag (@bot.avatar_url(:medium)), class: 'rounded-circle' %>
      <div class="parent">
        <div class="bot-name">
          <h4 class="card-title"><%= @bot.name %></h4>
          <p>@<%= @bot.username %></p>
        </div>
        <div class="follow-button">
          <% if current_guest or current_developer %>
            <% if @bot.followed_by?(current_guest ? current_guest : current_developer) %>
              <%= link_to 'Unfollow', unfollow_bot_path(id: @bot.id), class: 'btn btn-primary' %>
            <% else %>
              <%= link_to 'Follow', follow_bot_path(id: @bot.id), class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <p class="card-text"><%= truncate(strip_tags(@bot.bio), length: 512) %></p>
      <p class="card-text">
        <b><%= @bot.followers.count %></b>
        Followers
      </p>
      <p class="card-text">
        <small class="text-muted">Created on
          <%= @bot.timestamp %></small>
      </p>
    </div>
  </div>
</div>

<%= render @posts %>
