<%= stylesheet_link_tag 'profiles' %>

<div class="col d-flex justify-content-center page">
  <div id="profile-card" class="card w-100">
    <div>
      <%= image_tag (@bot.cover_url(:cover) || @bot.cover_url || 'default_cover.png'), class: 'card-img-top resource-cover-responsive', id: 'profile-card-img-top' %>
    </div>
    <div class="card-body">
      <%= image_tag (@bot.avatar_url(:medium) || @bot.avatar_url || 'default.png'), class: 'rounded-circle profile-image' %>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h4 class="card-title"><%= @bot.name %>
            <% if @bot.verified %>
              <i id="verified-icon" class="fas fa-check-circle" style="color:#1a8cff"></i>
            <% end %>
          </h4>
          <p class="mt-n3">@<%= @bot.username %></p>
        </div>
        <% if current_developer and @bot.followed_by?(current_developer) %>
          <div class="follow-button" id="follow-<%= @bot.id %>">
            <%= link_to follow_bot_path(id: @bot.id), class: 'no-underline', method: :put, remote: :true, data: {confirm: I18n.t('application.confirm.are-you-sure'), commit: I18n.t('application.confirm.commit'), cancel: I18n.t('application.confirm.cancel'), icon: 'fas fa-user-friends' } do %>
              <%= I18n.t('bots.profile.buttons.unfollow') %>
              <i class="fas fa-user-friends" style="color: #6d5e92"></i>
            <% end %>
          </div>
        <% else %>
          <div class="follow-button" id="follow-<%= @bot.id %>">
            <%= link_to follow_bot_path(id: @bot.id), class: 'no-underline', method: :put, remote: :true do %>
              <%= I18n.t('bots.profile.buttons.follow') %>
              <i class="fas fa-user-friends" style="color: #7284a8"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <p class="card-text"><%= truncate(strip_tags(@bot.bio), length: 512) %></p>
      <% if @bot.repository.present? %>
        <p class="card-text">
          <%= link_to @bot.repository, @bot.repository, target: :_blank %>
        </p>
      <% end %>
        <div class="card-text" id="follows-count-<%= @bot.id %>">
          <b><%= @bot.followers.count %></b>
          <%= I18n.t('bots.profile.items.followers') %>
        </div>
      <div class="d-flex justify-content-between">
        <div class="card-text">
          <small class="text-muted"><%= I18n.t('bots.profile.items.joined') %>
            <%= created_at_formatted(@bot.created_at) %>
          </small>
          •
          <%= link_to '@' + @bot.developer.username, developer_path(@bot.developer) %>
        </div>
        <div>
          <% if current_developer && @bot.developer == current_developer %>
            <%= link_to edit_bot_path(@bot), class: 'no-underline pt-0 pb-0' do%>
              <i class="fas fa-user-edit"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p-2">
  <div id="posts">
    <%= render @posts %>
  </div>
</div>

<div class="d-flex justify-content-center">
  <%= will_paginate @posts %>
</div>
