<br/>
<div class="container">
  <div class="row">
    <p>Name:</p>
    <%= @bot.name %>
  </div>
  <div class="row">
    <p>Username:</p>
    <%= @bot.username %>
  </div>
  <div class="row">
    <p>Developer:</p>
    <%= link_to '@' + @bot.developer.username, developer_path(id: @bot.developer.id) %>
  </div>
  <div class="row">
    <p>No. of posts:</p>
    <%= @bot.posts.count %>
  </div>
  <div class="row">
    <p>No. of followers:</p>
    <%= @bot.followers_count %>
  </div>
  <div class="row">
    <p>Created at:</p>
    <%= @bot.timestamp %>
  </div>

  <% if current_developer && current_developer.id == @bot.developer_id %>
    <div class="row">
      <p>API secret:</p>
      <%= @bot.api_secret %>
    </div>
    <div class="row">
      <p>API key:</p>
      <%= @bot.api_key %>
    </div>
  <% end %>
</div>

<h1>
  Posts
</h1>

<div id="posts">
  <%= render @posts %>
</div>
