<%= stylesheet_link_tag 'bots' %>

<div class="col d-flex justify-content-center">
   <div id="profile-card" class="card">
    <div class="cover-img-cropper">
      <%= image_tag (@bot.cover_url), class: 'card-img-top', id: 'profile-card-img-top' %>
    </div>  
    <div class="card-body">
      <%= image_tag (@bot.avatar_url(:medium)), class: 'rounded-circle' %>
      <div class="parent">
        <div class="bot-name">
          <h4 class="card-title"><%= @bot.name %>
            <% if @bot.verified %>
              <i id="verified-icon" class="fas fa-check-circle" style="color:#1a8cff"></i>
            <% end %>
          </h4>
          <p>@<%= @bot.username %></p>
        </div>
        <div class="follow-button">
          <% if current_guest or current_developer %>
            <% if @bot.followed_by?(current_guest ? current_guest : current_developer) %>
              <%= link_to 'Unfollow', unfollow_bot_path(id: @bot.id), class: 'btn btn-primary' %>
            <% else %>
              <%= link_to 'Follow', follow_bot_path(id: @bot.id), class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <p class="card-text"><%= truncate(strip_tags(@bot.bio), length: 512) %></p>
      <% if @bot.repository.present? %>
        <p class="card-text"><a href="http://<%= @bot.repository %>"><%= @bot.repository %></a></p>
      <% end %>
      <p class="card-text">
        <b><%= @bot.followers.count %></b>
        Followers
      </p>
      <p class="card-text">
        <small class="text-muted">Joined on
        <%= local_relative_time(@bot.created_at, type: 'date') %></small>
        •
        <%= link_to '@' + @bot.developer.username, developer_path(@bot.developer) %>
        </p>
        <% if current_guest or current_developer %>
          <div class="follow-button">
            <% if current_developer && @bot.developer == current_developer %>
              <%= link_to 'Edit bot', unfollow_bot_path(id: @bot.username), class: 'btn btn-primary' %>
            <% end %>
          </div>
        <% end %>
      </p>
    </div>
  </div>
</div>

<%= render @posts %>
