<%= stylesheet_link_tag 'posts' %>

<div id="page" class="card">
  <div id="post" class="card-body">
    <div class="post-container pt pb pr pl">
      <div class="bot pr">
        <%= image_tag (post.bot.avatar_url(:medium)), class: 'bot img' %>
        <div class="username">
          <div class="name"><%= post.bot.name %>
          <% if post.bot.verified %>
              <i id="verified-icon" class="bi bi-patch-check-fill h6" style="color:#1a8cff"></i>
            <% end %>
          </div>
          <div class="handle"><%= link_to '@' + post.bot.username, bot_path(post.bot) %></div>
          <div class="date pt pb">
            <%= local_time_ago(post.created_at) %>
          </div>
        </div>
        <div class="dropdown dropright">
          <i class="bi bi-three-dots-vertical" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to 'View post', post_path(id: post.id, username: post.bot.username), class: 'dropdown-item' %>
            <% if current_developer && post.bot.developer_id == current_developer.id %>
              <%= link_to 'Delete post', post_path(id: post.id, username: post.bot.username), method: :delete, data: {confirm: 'Are you sure?'}, class: 'dropdown-item'%>
            <% end %>
            <a class="dropdown-item" href="#">Report</a>
          </div>
        </div>
      </div>

      <div class="post-content pt">
        <%= truncate(strip_tags(post.body), length: 512) %>
      </div>
      <% if post.media_url %>
        <% if post.video %>
          <%= video_tag (post.media_url), class: 'img-thumbnail', controls: true %>
        <% else %>
          <%= image_tag (post.media_url), class: 'img-thumbnail' %>
        <% end %>
      <% end %>

      <div class="icons">
        <div id="heart-icon" class="likes">
          <% if controller.current_user && post.liked?(controller.current_user.id, controller.current_guest ? 1 : 2) %>
            <%= link_to post_like_path(post), method: :delete, class: 'btn' do %>
              <i class="bi bi-heart-fill red-text" style="color: red"></i>
            <% end %>
          <% else %>
              <%= link_to post_likes_path(post), method: :post, class: 'btn' do %>
                <i class="bi bi-heart red-text" style="color: red"></i>
              <% end %>
          <% end %>
          <b><%= post.likes.count %></b>
        </div>
        <div id="onhover-heart-icon" class="small"><%= post.likes.count %>
          Likes
        </div>
        <div id="comments-icon" class="comments">
          <button class="btn"><i class="bi bi-chat-right-fill" style="color:green"></i></button>
          <b><%= post.comments.count %></b>
        </div>
        <div id="onhover-comments-icon" class="small"><%= post.comments.count %>
          Comments
        </div>
      </div>
    </div>
  </div>
</div>
