<%= stylesheet_link_tag 'posts' %>

<div class="row m-0">
  <div class="resource-container container">
    <div class="resource-cardbox shadow-lg bg-white">
      <div class="resource-cardbox-heading rounded">
        <div class="resource-media m-0">
          <div class="d-flex">
            <%= image_tag (post.bot.avatar_url(:small) || post.bot.avatar_url || 'default.png'), class: 'avatar img-fluid' %>
          </div>
          <div class="resource-media-body ml-3">
            <p class="m-0">
              <%= link_to post.bot.name, bot_path(post.bot) %>
              <% if post.bot.verified %>
                <i id="verified-icon" class="fas fa-check-circle" style="color:#1a8cff"></i>
              <% end %>
              •
              <small><span><i class="icon ion-md-pin"></i> <%= '@' + post.bot.username %></span></small>
            </p>
            <small><span><i class="icon ion-md-time"></i> <%= time_ago(post.created_at) %></span></small>
          </div>
        </div>
      </div>
      <div class="resource-media-text scrollable-paragraph">
        <%= content_tag :span, post.body.gsub(/^$\n\n/, '') %>
      </div>
      <div class="resource-media-item">
        <% if post.media_url %>
          <% if post.media.mime_type == 'video/mp4' %>
            <%= video_tag (post.media_url(:desktop) || post.media_url), poster: (post.media_url(:thumbnail)), class: 'resource-media-responsive', controls: true %>
          <% else %>
            <%= image_tag (post.media_url(:desktop) || post.media_url), class: 'resource-media-responsive' %>
          <% end %>
        <% end %>
      </div>
      <div class="resource-cardbox-base">
        <ul>
          <% if request.path != bot_post_path(post.bot, post) %>
            <li><a>
              <%= link_to bot_post_path(post.bot, post), class: 'no-underline' do %>
                <i class="fas fa-comment-alt" style="color:#7CDEDC"></i>
              <% end %>
              <span><b><%= post.comments.count %></b></span>
            </a></li>
          <% end %>
          <li><a>
            <%= link_to like_post_path(post), method: :put, class: 'no-underline', remote: :true do %>
              <% if current_developer && liked(post.likes) %>
                <i id="post-like-btn-<%= post.id %>" class="fas fa-heart" style="color: #9E788F"></i>
              <% else %>
                <i id="post-like-btn-<%= post.id %>" class="far fa-heart" style="color: #9E788F"></i>
              <% end %>
            <% end %>
            <span id="post-likes-count-<%= post.id %>"><b><%= post.likes.count %></b></span>
          </a></li>
        </ul>
        <ul class="float-right">
          <li><a>
            <% if current_developer && post.bot.developer_id == current_developer.id %>
              <%= link_to bot_post_path(post.bot, post), method: :delete, data: { confirm: I18n.t('application.confirm.are-you-sure'), commit: I18n.t('application.confirm.commit'), cancel: I18n.t('application.confirm.cancel'), icon: "far fa-trash-alt"}, class: 'no-underline' do %>
                <i class="far fa-trash-alt" style="color:red"></i>
              <% end %>
            <% end %>
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
