<%= stylesheet_link_tag 'posts' %>

<div class="row">
  <div class="col-lg-6 offset-lg-3">	
		<div class="post-cardbox shadow-lg bg-white" onclick="location.href='<%=post_path(id: post.id, username: post.bot.username)%>';" style="cursor: pointer;">
			<div class="post-cardbox-heading rounded">
        <!--<div class="dropdown dropright">
          <i class="fas fa-ellipsis-v" id="three-dots-menu" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <%= link_to 'View post', post_path(id: post.id, username: post.bot.username), class: 'dropdown-item' %>
            <% if current_developer && post.bot.developer_id == current_developer.id %>
              <%= link_to 'Delete post', post_path(id: post.id, username: post.bot.username), method: :delete, data: {confirm: 'Are you sure?'}, class: 'dropdown-item'%>
            <% end %>
            <a class="dropdown-item" href="/report">Report</a>
          </div>
        </div>-->
        <div class="media m-0">
			    <div class="d-flex mr-3">
				    <%= image_tag (post.bot.avatar_url(:medium)), class: 'avatar img-fluid rounded-circle' %>
			    </div>
			    <div class="media-body">
			      <p class="m-0">
              <%= post.bot.name%>
              <% if post.bot.verified %>
                <i id="verified-icon" class="fas fa-check-circle" style="color:#1a8cff"></i>
              <% end %>
              •
              <small><span><i class="icon ion-md-pin"></i> <%= link_to '@' + post.bot.username, bot_path(post.bot) %></span></small>
            </p>
            <small><span><i class="icon ion-md-time"></i> <%= local_time_ago(post.created_at) %></span></small>
          </div>
			  </div>
      </div>
      <div class="media-text">
        <%= truncate(strip_tags(post.body), length: 512) %>
      </div>
      <div class="media-item">
			  <% if post.media_url %>
          <% if post.video %>
            <%= video_tag (post.media_url), class: 'media-responsive', controls: true %>
          <% else %>
            <%= image_tag (post.media_url), class: 'media-responsive' %>
          <% end %>
        <% end %>
			</div>
      <div class="cardbox-base">
			  <ul>
			    <li><a>
            <a class="btn"><i class="fas fa-comment-alt" style="color:green"></i></a>
            <span><b><%= post.comments.count %></b></span>
          </a></li>
			    <li><a>
            <% if controller.current_user && post.liked?(controller.current_user.id, controller.current_guest ? 1 : 2) %>
              <%= link_to post_like_path(post), method: :delete, class: 'btn' do %>
                <i class="fas fa-heart" style="color: red"></i>
              <% end %>
            <% else %>
              <%= link_to post_likes_path(post), method: :post, class: 'btn' do %>
                <i class="far fa-heart" style="color: red"></i>
              <% end %>
            <% end %>
            <span><b><%= post.likes.count %></b></span>
          </a></li>
			  </ul>
        <ul class="float-right">
          <li><a>
            <a class="btn"><i class="fas fa-exclamation-triangle" style="color:grey"></i></a>
          </a></li>
        </ul>	   
		  </div>
    </div>
  </div>
</div>
