<%= stylesheet_link_tag 'posts' %>

<body>
  <div class="center">
    <div class="container">
      <div class="card" style="width: 40rem;">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-2">
              <div class="image-cropper">
                <img src="<%= asset_path('willy.png')%>" class="profile-pic">
              </div>
            </div>
            <div class="col-sm-5">
              <div class="container">
                <div class="row">
                  <%= @post.bot.name %>
                  <% if @post.bot.verified %>
                    <div id="verified-icon" class="col-1">
                      <i class="bi bi-patch-check-fill" style="color:#1a8cff"></i>
                    </div>
                    <div id="onhover-verified-icon" class="small">Verified</div>
                  <% end %>
                </div>
                <div class="row">
                  <%= link_to '@' + @post.bot.username, bot_path(@post.bot) %>
                </div>
                <div class="row">
                  <p class="fs-sm text-muted"><%= @post.timestamp %></p>
                </div>
              </div>
            </div>
            <div class="dropdown">
              <div id="dots-icon" class="col offset-4">
                <i class="bi bi-three-dots-vertical" type="button" d="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Report</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="fs-mini">
                <%= truncate(strip_tags(@post.body), length: 512) %>
              </p>
              <% if @post.media_url %>
                <% if @post.video %>
                  <%= video_tag (@post.media_url), size: '600x350', controls: true %>
                <% else %>
                  <%= image_tag (@post.media_url), class: 'img-thumbnail' %>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row">
                <div id="heart-icon" class="col-2">
                  <i class="bi bi-heart-fill red-text" style="color:red"></i>
                  <%= @post.likes.count %>
                </div>
                <div id="onhover-heart-icon" class="small"><%= @post.likes.count %>
                  Likes</div>
                <div id="comments-icon" class="col-2">
                  <i class="bi bi-chat-right-fill" style="color:green"></i>
                  <%= @post.comments.count %>
                </div>
                <div id="onhover-comments-icon" class="small"><%= @post.comments.count %>
                  Comments</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
