<p><%= I18n.t('developers.reset-password.greeting') + ' ' + @resource.name %>!</p>

<p><%= I18n.t('developers.reset-password.messages.reset-password-requested') %></p>

<p><%= link_to I18n.t('developers.reset-password.link'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.t('developers.reset-password.messages.ignore-email') %></p>
<p><%= I18n.t('developers.reset-password.messages.wont-change') %></p>
