<%= stylesheet_link_tag 'sessions_registrations' %>
  <div class="d-flex justify-content-center h-100">
    <div class="user-card">
      <div class="d-flex justify-content-center">
        <div class="brand-logo-container">
          <img class="brand-logo" src="<%= asset_path('logo.svg')%>" alt="">
        </div>
      </div>
        <article style="margin-top: 70px">
        <h4 class="card-title mt-3 text-center"><%= I18n.t('guests.registrations.edit.title') %></h4>
        <p class="text-center"><%= I18n.t('guests.registrations.edit.instruction') %></p>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user"></i>
              </span>
            </div>
            <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder: I18n.t('guests.registrations.edit.textfields.username'), type: 'text'%>
          </div>
          <!-- form-group// -->
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-envelope"></i>
              </span>
            </div>
            <%= f.email_field :email, autocomplete: 'email', class: 'form-control', placeholder: I18n.t('guests.registrations.edit.textfields.email'), type: 'email'%>
          </div>
          <button class="btn btn-common btn-block" style="margin-bottom:15px;" type="button" data-toggle="collapse" data-target="#passwords" aria-controls="passwords" aria-expanded="false" aria-label="Toggle navigation">
            <%= I18n.t('guests.registrations.edit.buttons.change-password') %>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="passwords">
            <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', placeholder: I18n.t('guests.registrations.edit.textfields.password'), type: 'password', minlength: 6%>
            </div>
            <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', placeholder: I18n.t('guests.registrations.edit.textfields.password-confirmation'), type: 'password'%>
            </div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock" style="color: #A50104;"></i>
              </span>
            </div>
            <%= f.password_field :current_password, autocomplete: "current-passord", class: 'form-control', placeholder: I18n.t('guests.registrations.edit.textfields.current-password'), type: 'password', required: true %>
          </div>

          <!-- form-group// -->
          <%= render "guests/shared/error_messages", resource: resource %>
          <div class="form-group" style="margin-top: 20px">
            <%= f.submit I18n.t('guests.registrations.edit.buttons.update'), class: 'btn btn-submit btn-block' %>
          </div>
        <% end %>
      </article>
    </div>
  </div>
