<!DOCTYPE html>
<html>
  <head>
    <title>Iae</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo.svg') %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark shadow-lg bg-transparent">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
        <img src="<%= asset_path('logo.svg')%>" alt="" width="40px" height="40px">
        IA-e Bots 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <% if notice %>
      <div id="notice-wrapper">
        <p class="notice"><%= notice %></p>
      </div>
      <% elsif alert %>
        <div id="notice-wrapper">
          <p class="alert"><%= alert %></p>
        </div>
      <% end %>
      <%= yield %>
    </body>
  </html>
